<h1>Editing search result</h1>

<%= render "form", search_result: @search_result %>

<br>

<div>
  <%= link_to "Show this search result", @search_result %> |
  <%= link_to "Back to search results", search_results_path %>
</div>
